.cartao-pokemon {/* fui no site css scan e copiei e colei aqui */
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;/*arredondado as bordas*/

}

.cartao-pokemon .cartao-topo {/* estilizando uma classe que esta dentroi do cartao pokemon*/
    
    padding: 30px 40px 0;/* 30 em cima 40 dos lados e 0 em baixo*/
}

.cartao-pokemon .nome {
    margin-bottom: 5px;
}

.cartao-pokemon .tipo{
    font-size: 12px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cartao-pokemon .detalhes {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;/*colocar o espaço entre os elementos detalhes*/
    align-items: center;
}

.cartao-pokemon .cartao-imagem {/*alterando o tamanho da imagem*/
    width: 350px;
    height: 350px;
    
}

.cartao-pokemon img {
    max-height: 100%;/* caso tiver problema de tamanhoi da imagens e so alterar por isto aqui*/
}

.cartao-pokemon .cartao-informacoes {
    display: flex;/* ira colocar as duas divis uma ao lado da outra ou seja o (status e habilidades ficaram lado a lado)*/
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 80px 30px 50px;
    margin-top: -70px;/*caso coloco - ele tira 70px e colocara o 70px por cima*/
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
}

.cartao-pokemon .cartao-informacoes h3  {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;/*colocando uma borda embaixo */

}

.cartao-pokemon .cartao-informacoes 
.status, .cartao-pokemon .cartao-informacoes
.habilidades {
    padding: 0 10px;
    width:  180px;
}

.cartao-pokemon .cartao-informacoes 
.status, .cartao-pokemon .cartao-informacoes
.habilidades ul li {
    border-bottom: 1px solid #c3c4c5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-pokemon.aberto {
    display: block;
}

.tipo-fogo {
    background-color: #ed8abb;
}

.tipo-eletrico {
    background-color: #fcc719;
}

.tipo-agua {
    background-color: #76befe;
}

.tipo-grama{
    background-color: #49d0b0;
}

.tipo-trevas {
    background-color: #ba68c8;
}

.tipo-dragao {
    background-color: #c29791;
}

